#header section{
	font-size: 80px;
	padding: 25px;
}

.article{
	line-height: 2.2em;
}

.contact-info{
	display: flex;
	font-size: 20px;
	width: 20%;
	flex-direction: column;
	justify-content: space-around;
}

#header-background{
	background-color: #2ECC71;
}

img{
	width: 150px;
	height: 150px;
}

.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


